In [1]:
# Import packages
import numpy as np
import pandas as pd
import nltk
import spacy

from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import OneClassSVM
from pycaret.classification import *

# download das stopwords para o idioma portuguÃªs
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\bruno\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
# Import data
df_traindata = pd.read_csv('../data/traindata.csv', delimiter=';')
df_testdata = pd.read_csv('../data/testdata.csv', delimiter=';')

# Data preparation for Binary
df_traindata['category'] = df_traindata.reset_index().category.map({'covid':0, 'seloturismo':0, 'tuberculose':1})
df_testdata['category'] = df_testdata.reset_index().category.map({'covid':0, 'seloturismo':0, 'tuberculose':1})

# Data separation for One-Class
#traindata_covid = df_traindata[df_traindata['category']=='covid']
#traindata_tuberculose = df_traindata[df_traindata['category']=='tuberculose']
#traindata_seloturismo = df_traindata[df_traindata['category']=='seloturismo']

In [3]:
# Lemmatizing input string
nlp = spacy.load("pt_core_news_lg")
lem = nlp.get_pipe("lemmatizer")

def lemmatize(data):
    inputs = []
    for doc in data.input:
        d = nlp(doc)
        s = ' '.join([token.lemma_ for token in d])       
        inputs.append(s)
    data['input'] = inputs
    return data

traindata = lemmatize(df_traindata)
testdata = lemmatize(df_testdata)

In [4]:
# Normalizing and TF-IDF preparation
stop_words = stopwords.words('portuguese')

tv = TfidfVectorizer(lowercase=True, stop_words=stop_words, strip_accents='unicode', token_pattern="[A-Za-z]+")
train_tf_idf = tv.fit_transform(traindata['input'])
test_tf_idf = tv.transform(testdata['input'])

traindata_vect = pd.DataFrame(train_tf_idf.toarray(), columns=tv.get_feature_names())
traindata_vect['target_cat'] = traindata.reset_index().category

testdata_vect = pd.DataFrame(test_tf_idf.toarray(), columns=tv.get_feature_names())
testdata_vect['target_cat'] = testdata.reset_index().category
#testdata_vect.head()
#traindata_vect.head()

In [5]:
s = setup(data=traindata_vect, target='target_cat', session_id=9999, fold=10, test_data=testdata_vect, silent=True, fix_imbalance=True)

In [6]:
top5 = compare_models(n_select = 5)

In [7]:
# tune models
tuned = [tune_model(i) for i in top5]

In [8]:
# ensemble models
bagged = [ensemble_model(i) for i in tuned]

In [9]:
# blend models
blended = blend_models(estimator_list = top5)

In [10]:
# stack models
stacked = stack_models(estimator_list = top5)

In [11]:
# automl 
best = automl(optimize = 'Accuracy')

In [12]:
# calibrate model
model = calibrate_model(best)

In [13]:
predict_model(model, probability_threshold=0.75)

,abdomen,abracar,acesso,achar,acontecer,acrescimo,acrescimos,aderir,aderiram,aderiu,...,vao_0.0,varios_0.3994513750076294,vc_0.0,vendi_0.5771128535270691,verdura_0.5685370564460754,vistorias_0.0,vou_0.0,target_cat,Label,Score
0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0,0,0.9786
1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0,0,0.9786
2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0,0,0.9787
3,0.0,0.0,0.493011,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0,0,0.9786
4,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0,0,0.9786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0,0,0.9792
473,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0,0,0.9792
474,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.458805,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0,0,0.9792
475,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0,0,0.9792
476,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0,0,0.9789

In [14]:
print(model)

CalibratedClassifierCV(base_estimator=<catboost.core.CatBoostClassifier object at 0x0000029B3DC42340>,
                       cv=5, method='sigmoid')